.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3%;
}

.zoneContainer {
  display: flex;
  flex: 5;
  border: 5px dashed #fe5f55;
  border-radius: 20px;
  height: 90%;
}
.upload {
  width: 100px;
  height: 100px;
  color: #fe5f55;
  flex: 1;
}

.iconContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.textContainer {
    flex:1;
    display: flex;
    justify-content: space-between;
    
}

.uploadContainer {
    flex: 6;
}

.videoContainer {
    flex: 4;
}