.container {
    border: 6px white solid;
    border-radius: 20px;
    background-color: white;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    flex: 1;
    margin-bottom: 2%;
    margin-right: 2%;
  }

.property {
    flex-direction: column;
    justify-content: flex-start;
    flex: 10;
    padding: 1%;
}

.propertyNames {
  flex: 1;
  flex-direction: column;
  display: flex;
}
.propertyValues {
  flex: 4;
  flex-direction: column;
  display: flex;
}

.icons {
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.icon {
  width: 30px;
  height: 30px;
  color: #80969b;
  flex: 1
}
.icon:hover {
  transform: scale(1.05);
}

p {
  text-align: left;
  margin: 0;
}
