@font-face {
  font-family: 'Montserrat';
  src: local('MontserratRegular'),
    url('./fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: local('MontserratMedium'),
    url('./fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
  font-weight: medium;
}
@font-face {
  font-family: 'Montserrat';
  src: local('MontserratSemiBold'),
    url('./fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Montserrat';
  src: local('MontserratBold'),
    url('./fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
}

body {
  color: black;
  height: 100vh;
  margin: 0;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #2c3d9e 129.35%
  );
  overflow-y: hidden;
  font-family: 'Montserrat';
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Montserrat';
  font-weight: 600;
  text-align: center;
  color: #4f6367;
}
h2 {
  font-family: 'Montserrat';
  font-weight: 600;
  text-align: left;
  color: #4f6367;
  margin-bottom: 2%;
}
h3 {
  font-family: 'Montserrat';
  font-weight: 600;
  color: #80969b;
  margin: 0px;
}
h4 {
  font-family: 'Montserrat';
  font-weight: 600;
  color: #80969b;
  margin: 0px;
}

p {
  font-family: 'Montserrat';
  font-weight: 400;
  text-align: center;
  color: #4f6367;
  
}

.background {
  background-color: #f7f7ec;
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
  flex: 1;
  flex-direction: 'column';
  border-radius: 20px;
  height: 80vh;
  width: 80vh;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
    
}

.headerTextBox {
  padding-top: 10px;
  flex: 1;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-right: 5%;
  margin-left: 5%;
}

/* @import '~react-clock/dist/Clock.css'; */
